@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	position: initial;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background-color: #007ced;
	background-position: center center;
	background-size: calc(100% + 25px);
	background-repeat: repeat;
	background-attachment: fixed;
	overflow-y: auto;
	overflow-x: hidden;
}
.lm-animated-bg {
	position: absolute;
	width: auto;
	height: auto;
	top: -18px;
	left: -18px;
	right: -18px;
	bottom: -18px;
	background-image: url(../public/main_bg.png);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
}

.preloader,
.preloader-portfolio {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #222;
}

.preloader-animation {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	background-color: inherit;
	color: inherit;
	opacity: 1;
	transition: opacity 0.3s;
	transform: translate3d(-50%, -50%, 0);
}

.preloader-spinner {
	width: 52px;
	height: 52px;
	margin: 100px auto;
	background-color: #007ced;
	border-radius: 100%;
	-webkit-animation: sk-scaleout 1s infinite ease-in-out;
	animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
	}

	100% {
		-webkit-transform: scale(1.1);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	100% {
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
		opacity: 0;
	}
}

div[class^="col-"] {
	padding: 0 !important;
}

.col-lg-6,
.col-md-6,
.col-sm-12 {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 576px) {
	.col-sm-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@layer components {
	.owl-text {
		@apply text-[#888] text-sm font-light my-1;
	}
}
