@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 576px) {
	.col-sm-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (min-width: 768px) {
	.col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@layer components {
	.owl-text {
		@apply text-[#888] text-sm font-light my-1;
	}
	.col-lg-6,
	.col-md-6,
	.col-sm-12 {
		@apply px-[15px] w-full relative;
	}
}

.swiper-pagination span:not(.swiper-pagination-bullet-active) {
	@apply bg-[#454545];
}

.swiper-pagination span {
	@apply h-[3px] rounded-sm w-[20px] transition-all ease-in-out duration-300;
}
 

.certificate-item {
	position: relative;
	display: table;
	table-layout: fixed;
	width: 100%;
	border: 2px solid #444;
	border-radius: 8px;
	margin-bottom: 20px;
	-webkit-transition: all 2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.certificate-item:hover {
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-5px);
	-webkit-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
	-o-box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
	box-shadow: 0 12px 17px rgba(0, 0, 0, 0.12);
}

.certi-logo {
	display: table-cell;
	width: 120px;
	height: 100%;
	background-color: #444;
	padding: 25px;
	vertical-align: middle;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

.certi-logo img {
	display: block;
	max-width: 100%;
}

.certi-content {
	display: table-cell;
	width: 100%;
	padding: 20px 25px;
	vertical-align: middle;
}

.certi-title h4 {
	font-size: 16px;
	margin: 0 0 5px;
}

.certi-id {
	font-size: 0.9em;
	color: #777;
}

.certi-date {
	font-size: 0.7em;
	color: #777;
	opacity: 0.7;
}

.skills-info.skills-first-style {
	margin-bottom: 30px;
}

.skills-info.skills-first-style h4 {
	font-size: 13px;
	line-height: 1.1em;
	position: relative;
	float: left;
	margin: 0 0 4px;
}

.skills-first-style .skill-container {
	position: relative;
	background-color: transparent;
	border: 2px solid #444;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 12px;
	margin-bottom: 15px;
	width: 100%;
}

.skills-first-style .skill-value {
	font-size: 11px;
	line-height: 1.1em;
	position: relative;
	float: right;
	margin: 0 0 4px;
	color: #888;
}

.skills-first-style .skill-percentage {
	background-color: #007ced;
	border: 2px solid #222;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	height: 8px;
	padding: 0;
}
